.row.my-2
  .col-4
    a.btn.btn-primary(href="/auth/as1") Start Basic
  .col-4
    a.btn.btn-primary.get-in-ajax(href="/auth/as1?type=pushed") Start Pushed
  .col-4
    a.btn.btn-primary(href="/jose") Go Try Jose
