h1 Use <code class="h5">#{code}</code> to get token!

h4 TOKEN
pre.h5= tokenSet

h4 OPENID
pre.h5= openID

hr

div.row
  div.col-12.col-sm-4
    div.card.my-2
      div.card-body
        a.get-in-ajax(href="/auth/token?token="+token) 利用token去要資料

  div.col-12.col-sm-4
    div.card
      div.card-body
        a.get-in-ajax(href="/auth/introspection?token="+token) 查看token

  div.col-12.col-sm-4
    div.card
      div.card-body
        a.get-in-ajax(href="/auth/revoke?token="+token) 撤銷token
