h1 Use <code class="h5">#{code}</code> to get token!

h4 TOKEN
pre.h5= tokenSet

h4 OPENID
pre.h5= openID

hr

.row
  .col-12.col-sm-4.my-2
    .card
      .card-body
        a.get-in-ajax(href="/auth/token") 利用token去要資料

  .col-12.col-sm-4.my-2
    .card
      .card-body
        a.get-in-ajax(href="/auth/introspection") 查看token

  .col-12.col-sm-4.my-2
    .card
      .card-body
        a.get-in-ajax(href="/auth/revoke") 撤銷token

.row
  .col-12.col-sm-4.my-2
    .card
      .card-body
        a(href='/auth/logout') 登出
